/* global variable */

$width: 90%;
$max-width: 1080px;
$main-color: #1f5d7c;
$point-color: #ff5252;
$font-color: #3a3a3a;
$gray-color: #dedede;
$point-font: "Vollkorn", serif;
$normal-font: "Noto Sans KR", sans-serif;
$hover-effect: all 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$hover-effect-height: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$height-effect-translate: translateY(200px);
$height-effect-opacity: 0;
